* {
    box-sizing: inherit;
}
body {
    background-color: #e0e9eb;
    margin: 0px auto;
    position: relative;
    box-sizing: border-box;
    font-family: Georgia;
    width: 1000px;
}

#bar {
    height: 70px;
    border-bottom: 1px solid #447884;
    text-align: center;
    padding: 20px;
}
#title, #title:visited {
    font-size: 28px;
    font-family: Georgia;
    color: #447884;
    text-decoration: none;
}
#title:hover {
    color: #345c65;
}
h3 {
    text-align: center;
    color: #233d43;
    margin: 30px 0;
}
p {
    margin-left: 50px;
}
#content {
    margin: 10px 50px;
}
.problems {
    text-decoration: underline;
    font-weight: bold;
    color: #345c65;
    font-size: 18px;
}
.problems:hover {
    color: #447884;
}
.problems:active {
    
}
.solutions {
    min-height: 180px;
    width: 800px;
    margin-top: 15px;
    margin-left: 35px;
    list-style-type: none;
}
.solutions li {
    width: 170px;
    float: left;
    margin: 10px;
    padding: 15px 5px;
    text-align: center;
    color: #345c65;
    font-size: 20px;
    border: 1px solid #447884;
    border-radius: 15px;
    background: linear-gradient(to top left, #68a4b1, #abccd4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.solutions li:hover {
    background: linear-gradient(to bottom right, #68a4b1, #abccd4);
    
}
.solutions li:active {
    background: radial-gradient(#68a4b1 10%, #abccd4 );
}